# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/PlugY.exe
/PlugY.ini
/PlugY.log
/PlugY_The_Survival_Kit_-_Liesmich.txt
/PlugY_The_Survival_Kit_-_LisezMoi.txt
/PlugY_The_Survival_Kit_-_Readme.txt
/RestoreD2gfxDll.exe
/Screenshot001.jpg
/Screenshot002.jpg
/SmackW32.dll
/Storm.dll
/www.anhei3.net
/113map
/PlugY
/暗黑2游戏资料-暗黑知识-游戏功略
/无法启动游戏及各种问题，请点这里
/1.13c战网注册表.reg
/1.13介绍.txt
/1.13战网论坛.url
/1.13战网主页，使用帮助.url
/2018新战网-地洞传说-1.13版.reg
/2018战网-地洞传说-1.13版.reg
/anhei3.net战网主页.url
/auto-cdkey.reg
/binkw32.dll
/bncache-1776.dat
/bncache-21244.dat
/Bnclient.dll
/BnetLog.txt
/BNUpdate.exe
/D2.lng
/D2_language.dll
/d2char.mpq
/D2CKey.exe
/D2Client.dll
/D2CMP.dll
/D2Common.dll
/d2data.mpq
/D2DDraw.dll
/D2Direct3D.dll
/d2exp.mpq
/D2Game.dll
/D2Gdi.dll
/D2gfx.dll
/D2Glide.dll
/D2Lang.dll
/D2Launch.dll
/D2Loader.exe
/D2MCPClient.dll
/d2messages.log
/D2Multi.dll
/d2music.mpq
/D2Net.dll
/d2sfx.mpq
/D2sound.dll
/d2speech.mpq
/d2video.mpq
/D2VidTst.exe
/D2Win.dll
/D2XMUSIC.MPQ
/D2XP_IX86_111b_112a.mpq
/d2xtalk.mpq
/D2XVIDEO.MPQ
/D2210116.txt
/D2210117.txt
/default.cfg
/default.key
/Diablo II.exe
/EXPANSION.mdf
/EXPANSION.mds
/Fog.dll
/Game.exe
/Game_crk.exe
/ijl11.dll
/patch_d2.mpq
/PatchD2gfxDll.exe
/PlugY.dll
